<!-- Botón para abrir el modal de solicitar cancelación (visible solo si el usuario no es autorizador) -->
{% if not es_autorizador and record.estado_cancelacion == 'sin_solicitud' or not es_autorizador and record.estado_cancelacion == 'no_autorizar' %}
    <button type="button" class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#cancelModalGlobal"
            data-record-id="{{ record.pk }}"
            data-record-pedido="{{ record.id }}"
            data-record-cliente="{{ record.cliente.nombre }}"
            data-record-exportador="{{ record.exportadora.nombre }}">
        <i class="bi bi-sign-stop"></i>
    </button>
{% endif %}

{% if record.estado_cancelacion == 'pendiente' and es_autorizador and record.autorizacion %}
    <button type="button" class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#authorizeModalGlobal"
            data-record-id="{{ record.pk }}"
            data-record-pedido="{{ record.id }}"
            data-record-cliente="{{ record.cliente.nombre }}"
            data-record-exportador="{{ record.exportadora.nombre }}"
            data-autorization-id="{{ record.autorizacion.id }}">
        <i class="bi bi-check-circle"></i>
    </button>
{% endif %}