{% extends 'comercialbase.html' %} {% block content %}
    {% load static %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exportacion Pedidos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/exportaciones.css' %}"/>
    </head>
    <body>
    <div class="container">
        <div class="card w-75 bg-dark mx-auto"> <!-- Agregar clase mx-auto -->
            <div class="card-body">
                <h2 class="text text-center">Exportación Pedidos General</h2>
                <br>
                <form method="post" action="{% url 'exportar_pedidos_excel' %}" class="formulario-blanco">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="fecha_inicial" class="col-sm-2 col-form-label">Fecha Inicial:</label>
                        <div class="col-sm-4">
                            <input type="date" id="fecha_inicial" name="fecha_inicial" class="form-control">
                        </div>
                        <label for="fecha_final" class="col-sm-2 col-form-label">Fecha Final:</label>
                        <div class="col-sm-4">
                            <input type="date" id="fecha_final" name="fecha_final" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3"> <!-- Añade un margen superior -->
                        <a href="{% url 'pedido_list_general' %}" class="btn btn-danger btn-lg" role="button">Volver</a>
                        Nota: Para exportar todos los pedidos omita los campos. El filtro es con la Fecha De Entrega
                        <button type="submit" class="btn btn-success btn-block btn-lg">Exportar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>
    </body>
    </html>
{% endblock %}