{% extends 'comercialbase.html' %}
{% load static %}
{% load django_tables2 %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/resumen_pedido.css' %}"/>

    <div class="container my-4">
        <!-- Card para 'Exportador' -->
        <div class="card mb-4 exportador-card">
            <div class="card-header text-center">
                <h5 class="card-title">Exportador: {{ pedido.exportadora.nombre }}</h5>
            </div>
        </div>

        <!-- Card para los detalles del pedido -->
        <div class="card mb-4 detalles-card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Pedido No:</h5>
                        <p class="card-text">{{ pedido.id }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Cliente:</h5>
                        <p class="card-text">{{ pedido.cliente.nombre }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Destino:</h5>
                        <p class="card-text">{{ pedido.destino }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Fecha De Entrega Final:</h5>
                        <p class="card-text">{{ pedido.fecha_entrega }}</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Intermediario</h5>
                        <p class="card-text">{{ pedido.intermediario.nombre }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Total Peso Bruto:</h5>
                        <p class="card-text">{{ total_peso_bruto }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Número De Piezas:</h5>
                        <p class="card-text">{{ total_piezas }}</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5 class="card-title">Total De Cajas Pedido:</h5>
                        <p class="card-text">{{ total_cajas_solicitadas }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de Productos -->
        <div class="card mb-4 tabla-productos-card">
            <div class="card-body">
                {% render_table table %}
            </div>
        </div>

        <!-- Botones de Acción -->
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary btn-lg" onclick="history.back();">
                <i class="bi bi-reply-fill"></i> Volver
            </button>
            <a href="{% url 'pedido_resumen_pdf' pedido.id %}" class="btn btn-danger btn-lg" target="_blank">
                <i class="bi bi-filetype-pdf"></i> Exportar
            </a>
        </div>
    </div>
{% endblock %}
