@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../img/bkhome.webp);
    overflow: hidden;
}

::selection {
    background: rgba(156, 26, 188, 0.3);
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #8416a0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .input-group {
    position: relative;
}

.wrapper form .form-control {
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.wrapper form .form-control:focus {
    border-color: #8416a0;
    box-shadow: 0 0 0 0.25rem rgba(132, 22, 160, 0.25);
}

.wrapper form .button {
    margin-top: 20px;
    text-align: center;
}

.wrapper form .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.7%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
