/* Asegúrate de que tus estilos solo afecten las tablas dentro de la plantilla de inventarios */
.container-inventarios .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
}

.container-inventarios .table thead tr {
    background-color: #522fed;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.container-inventarios .table th, 
.container-inventarios .table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}

.container-inventarios .table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.container-inventarios .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.container-inventarios .table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Botón y barra de búsqueda */
.container-inventarios input[name="item_busqueda"], 
.container-inventarios button {
    border-radius: 4px;
    padding: 8px 12px;
    margin: 5px;
}

.container-inventarios input[name="item_busqueda"] {
    width: 250px;
}
