{% autoescape off %}
¡Hola!

Estás recibiendo este correo porque has solicitado restablecer la contraseña para tu cuenta en Heaven's Fruits Connect.

Por favor, dirígete a la siguiente página y crea una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}

¡Gracias por utilizar nuestro sitio!

El equipo de Heaven's Fruits

{% endautoescape %}