{% load crispy_forms_tags %}
<style>
    .form-label {
        color: #16168c;
    }
</style>
<form method="post" id="ventaNacionalForm" action="{% url 'venta_nacional_create' compra.id %}">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-success">Guardar Venta Nacional</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</form>

<script>
    $(document).ready(function() {
        $('.select2').select2();
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>