{% load crispy_forms_tags %}
<style>
    label
    {
        color: #16168c;
    }
    .form-label {
        color: #16168c;
    }
</style>
<form method="post" id="editReporteExportadorForm" action="{% url 'reporte_exportador_edit' reporte.id %}">
    {% csrf_token %}
    <input type="hidden" name="_method" value="put">
    <input type="hidden" id="precio_compra_exp_value" value="{{ reporte.venta_nacional.compra_nacional.precio_compra_exp }}" />
    {% crispy form %}
    <button type="submit" class="btn btn-info">Guardar Cambios</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</form>

<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>