@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*         Name of items    */


[name="pedido"],
[name="fruta"],
[name="cajas_solicitadas"],
[name="cajas_enviadas"],
[name="tipo_caja"],
[name="referencia"],
[name="lleva_contenedor"],
[name="tarifa_comision"],
[name="valor_x_caja_usd"],
[name="no_cajas_nc"],
[name="presentacion"],
[name="observaciones"],
[name="afecta_comision"],
[name="precio_proforma"] {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    color: black; /* Color por defecto */
}

/* Estilos específicos para campos deshabilitados */
[name="pedido"]:disabled,
[name="fruta"]:disabled,
[name="cajas_solicitadas"]:disabled,
[name="cajas_enviadas"]:disabled,
[name="tipo_caja"]:disabled,
[name="referencia"]:disabled,
[name="lleva_contenedor"]:disabled,
[name="tarifa_comision"]:disabled,
[name="valor_x_caja_usd"]:disabled,
[name="no_cajas_nc"]:disabled,
[name="presentacion"]:disabled,
[name="observaciones"]:disabled,
[name="afecta_comision"]:disabled,
[name="precio_proforma"]:disabled {
    color: white; /* Color cuando estén deshabilitados */
    background-color: black;
}


